@use 'sass:meta';

@mixin sales-configurable-bundle-widget-order-configured-bundle-product($name: '.order-configured-bundle-product') {
    #{$name} {
        background-color: $setting-color-lightest;

        @if meta.mixin-exists(sales-configurable-bundle-widget-order-configured-bundle-product-base-hook) {
            @include sales-configurable-bundle-widget-order-configured-bundle-product-base-hook;
        }

        &:last-child {
            border-bottom: 1px solid $setting-color-light;
        }

        &__col {
            vertical-align: top;
            padding: 0.25rem;
        }

        &__bullet {
            float: left;
            margin-right: 0.25rem;
        }

        &__content {
            display: block;
            overflow: hidden;
        }

        @content;
    }
}

/**
 * @deprecated Use configurable-bundle-widget-order-configured-bundle-product mixin instead.
 */
@mixin configurable-bundle-widget-order-configured-bundle-product($name: '.order-configured-bundle-product') {
    @include sales-configurable-bundle-widget-order-configured-bundle-product();

    #{$name} {
        @if meta.mixin-exists(configurable-bundle-widget-order-configured-bundle-product-base-hook) {
            @include configurable-bundle-widget-order-configured-bundle-product-base-hook;
        }

        @content;
    }
}
